@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Blue-800: hsl(234, 29%, 20%);
  --Blue-700: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
  --Red: hsl(4, 100%, 67%);
  --Red-500: hsl(4, 100%, 67%, 0.3);
  --Red-600: hsl(346, 100%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--Blue-700);
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--White);
}

.newsletter__image-container {
  width: 100%;
  height: 250px;
  background-image: url("./assets/images/illustration-sign-up-mobile.svg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 0px 0px 20px 20px;
}

.newsletter__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.newletter__title {
  font-size: 2rem;
  color: var(--Blue-800);
}

.newsletter__description {
  color: var(--Blue-800);
  font-size: 0.9rem;
  font-weight: 400;
}

.newsletter__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.newsletter__list li {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  color: var(--Blue-800);
  font-weight: 400;
  font-size: 0.9rem;
}

.newsletter__list li img {
  width: 17px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}

.form label {
  color: var(--Blue-800);
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.form input {
  padding: 10px;
  padding-left: 20px;
  border: 1px solid var(--Grey);
  border-radius: 5px;
  margin-bottom: 15px;
  height: 50px;
  transition: all 0.3s ease;
}

.form input:hover,
.form input:focus {
  border-color: var(--Blue-800);
  outline: none;
}

.form input::placeholder {
  color: var(--Grey);
  font-size: 0.8rem;
}

.form .newsletter__submit-button {
  background: linear-gradient(to right, var(--Blue-800), var(--Blue-800));
  color: var(--White);
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.form .newsletter__submit-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--Red-600), var(--Red));
  opacity: 0;
  transition: opacity 0.5s ease;
  color: var(--White);
  border-radius: 5px;
  z-index: 0;
}

.form .newsletter__submit-button p {
  position: relative;
  z-index: 1;
}

.form .newsletter__submit-button:hover::before {
  opacity: 1;
  outline: 1px solid var(--Red);
}

.newsletter__success-message {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--White);
}

.newsletter__success-icon {
  width: 50px;
}

.newsletter__success-title {
  font-size: 2rem;
  color: var(--Blue-800);
}

.newsletter__success-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--Blue-800);
  line-height: 20px;
  margin-bottom: 150px;
}

.newsletter__dismiss-button {
  background: linear-gradient(to right, var(--Blue-800), var(--Blue-800));
  color: var(--White);
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  justify-self: flex-end;
  position: relative;
}

.newsletter__dismiss-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--Red-600), var(--Red));
  opacity: 0;
  transition: opacity 0.5s ease;
  color: var(--White);
  border-radius: 5px;
  z-index: 0;
}

.newsletter__dismiss-button p {
  position: relative;
  z-index: 1;
}

.newsletter__dismiss-button:hover::before,
.newsletter__dismiss-button:focus::before {
  opacity: 1;
  outline: 1px solid var(--Red);
}

.email__error {
  background-color: var(--Red-500);
  outline: 1px solid var(--Red);
  border: none;
  color: var(--Red);
}

.form .email__error::placeholder {
  color: var(--Red);
}

.email__error-message {
  color: var(--Red);
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.hide {
  display: none;
}

@media (min-width: 321px) {
  .newsletter__image-container {
    height: 300px;
  }
}

@media (min-width: 600px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .newsletter {
    flex-direction: row;
    gap: 0px;
    max-width: 800px;
    min-height: 400px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
  }

  .newsletter__image-container {
    width: 50%;
    height: 500px;
    background-image: url("./assets/images/illustration-sign-up-desktop.svg");
    background-position: center;
    background-size: cover 100%;
    order: 1;
    border-radius: 15px;
  }

  .newsletter__info {
    width: 50%;
    padding: 40px;
    order: 0;
  }

  .newletter__title {
    font-size: 2.5rem;
  }

  .newsletter__success-message {
    max-width: 380px;
    min-height: 200px;
    border-radius: 20px;
    padding: 40px;
  }

  .newsletter__success-title {
    font-size: 2.5rem;
  }

  .newsletter__success-text {
    margin-bottom: 0px;
  }
}
